body {
    background: #fafafa;
}

.main {
    margin: 80px auto 0 auto;
    padding: 0 5%;
}

.imagestack {
    background-color: white;
    cursor: pointer;
}
.thumbnails .thumbnail {
    height: 200px;
}
.detail .imagestack {
    min-height: 400px;
}

.thumbnails .thumbnail > img {
    max-height: 100%;
    /* Tell browsers we want the fast scaling method which doesn't flicker (in Chrome). */
    image-rendering: -moz-crisp-edges;
    image-rendering: -o-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
    -ms-interpolation-mode: nearest-neighbor;
}

.navbar-slider {
    margin: 5px 20px 0 20px;
}

#navbar-text-pit {
    float: left;
    width: 32px;
    margin: 2px 0 0 12px;
    height: 17px;
    text-align: center;
}

#timeSlider {
    float: left;
    width: 390px;
    margin: 9px 0 0 16px;
}


/* KnobKnob and its overrides */
#jogWheel {
    float: left;
    margin: 0 8px 0 0;
    width: 28px;
    height: 28px;
}

#jogWheel .knob,
#jogWheel .knob .top,
#jogWheel .knob .base {
    width: 28px;
    height: 28px;
}

#jogWheel .knob .top {
    background-size: 28px 28px;
    opacity: 0.7;
}
#jogWheel .knob .top:hover {
    opacity: 1.0;
}

#jogWheel .knob .base {
    box-shadow: 1px 2px 0 #4a5056, 2px 4px 8px #333;
    /* opacity: 0.8; */
}

#jogWheel .knob .top:after {
    width: 5px;
    height: 5px;
    margin-top: 6px;
    left: 11px;
}
/* End KnobKnob and its overrides */

