<div class='thumbnail imagestack' title='<%= title %>'>
    <!-- <a href='#/detail/<%= title %>/<%= window.App.Models.App.get('pit') %>/ff36'> -->
        <img src='<%= src %>' alt='imagestack' />
    <!-- </a> -->
</div>

