body {
    background: #fafafa;
}

.main {
    margin: 80px auto 0 auto;
    padding: 0 5%;
}

.imagestack {
    background-color: white;
    cursor: pointer;
}
.thumbnails .thumbnail {
    height: 200px;
}
.detail .imagestack {
    min-height: 400px;
}

.thumbnails .thumbnail > img {
    max-height: 100%;
}

.navbar-slider {
    margin: 5px 20px 0 20px;
}

#navbar-text-pit {
    float: left;
    width: 32px;
    margin: 2px 0 0 12px;
    height: 17px;
    text-align: center;
}

#timeSlider {
    float: left;
    width: 390px;
    margin: 9px 0 0 16px;
}

#playButton {
    margin-top: 0;
}

